@import "tailwindcss";
/*
--------------------------------- cards project css -----------------------------
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title{
  font-size: 3rem;
  margin: 6vh;
  border: 2px solid rgb(246, 244, 248);
  color: rgb(250, 248, 245);
  background-color: rgb(5, 5, 5);
  border-radius: 20px;
  padding: 1vh 5vw;
}

.cards{
  display: flex;
  
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
}

.card{
  width: 400px;
  height: max-content;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}

.image{
  width: 380px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.tour-info{
  margin: 20px 5px;

}

.price{
  color: green;
  font-size: 1.3rem;
}
.name{
  font-size: 1.5rem;
}

 .read{
  color: blue;
  cursor: pointer;
}

.button{
  margin-top: 18px;
  padding: 10px 80px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 10px;
  background-color: rgb(70, 64, 64);
  color: white;
  font-weight: bold;
  border-radius: 10px;

}
.button:hover{
  background-color: rgb(231, 233, 233);
  color: rgb(22, 16, 16);
  transition: all 0.2s;

}

.no-tour{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
.refresh{
  margin-top: 18px;
  padding: 10px 8px;
  cursor: pointer;
border: 2px solid white;
}
.refresh:hover{
  background-color: white;
  color: black;
  transition: all 0.2s;
}

*/

  
  